<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head"></head>
<body class="container">

<nav th:replace="fragments :: navigation"></nav>

<h1 th:text="${title}">Default Title</h1>

<form method="post" th:object="${cheese}" class="form" style="max-width: 600px" >
    <div class="form-group">
        <label th:for="name" >Name</label>
        <input class="form-control" th:field="*{name}"
               placeholder="Please enter the name of the cheese ... 3 to 20 characters allowed"
               id="focus"/>
        <span th:errors="*{name}" class="error"></span>
    </div>

    <div class="form-group">
        <label th:for="description">Description</label>
        <input class="form-control" th:field="*{description}" placeholder="Please enter a brief description" />
        <span th:errors="*{description}" class="error"></span>
    </div>

    <div class="form-group">
        <label th:for="category">Category</label>
        <select name ="categoryId" class="form-control" style="max-width: 100px" >
            <option th:each="category: ${categories}"
                    th:text="${category.name}"
                    th:value="${category.id}" ></option>
        </select>
    </div>

    <div class="form-group">
        <label th:for="rating">Rating (1-5 ... with 5 being the best)</label>
        <input class="form-control" th:field="*{rating}" style="max-width: 50px; text-align: center" />
        <span th:errors="*{rating}" class="error"></span>
    </div>

    <input type="submit" value="Add Cheese" class="btn btn-primary" />
</form>

<div th:replace="fragments :: footer"></div>

<script language="javascript" type="text/javascript">
    window.onload = function() {
        document.getElementById("focus").focus();
    };
</script>

</body>
</html>