<!DOCTYPE html>
<html lang="en" xmlns:th="http://wwww/thymeleaf.org">
<head th:replace="fragments :: head"></head>
<body class="container">

<nav th:replace="fragments :: navigation"></nav>

<h1 th:text="${title}">Title</h1>

<nav>
    <a th:href="@{/cheese/add}" title="Add a new cheese to the list">Add</a>
    <span> | </span>
    <a th:href="@{/cheese/remove}" title="Remove a cheese from the list">Remove</a>
</nav>
<br />

<p th:unless="${cheeses} and ${cheeses.size()}">Somebody moved my Cheese! &nbsp; :( </p>

<div th:unless="${cheeses.isEmpty()}">
<table class="table" >
    <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Category</th>
        <th>Rating</th>
    </tr>

    <tr th:each="cheese : ${cheeses}">
        <td th:text="${cheese.name}"></td>
        <td th:text="${cheese.description}"></td>
        <td th:text="${cheese.category.name}"></td>
        <td th:text="${cheese.rating}"></td>
        <!--<td><a th:href="${'/cheese/edit/' + cheese.id}">Edit</a></td>-->
        <td><a th:href="@{'/cheese/edit/' + ${cheese.id}}" title="Edit this cheese">Edit</a></td>
    </tr>
</table>
</div>


<span class="glyphicon glyphicon-star"></span>
<span class="glyphicon glyphicon-star"></span>
<span class="glyphicon glyphicon-star"></span>
<span class="glyphicon glyphicon-star"></span>
<span class="glyphicon glyphicon-star"></span>
<span style='content:"\e006"'></span>

<div th:replace="fragments :: admin-footer"></div>

</body>
</html>