<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head"></head>
<body class="container">

<h1 th:text="${title}">Default Title</h1>

<nav th:replace="fragments :: navigation"></nav>

<form method="post" >
    <table class="table">
        <tr>
            <th></th>
            <th>Name</th>
            <th>Description</th>
            <th>Category</th>
            <th>Rating</th>
        </tr>
        <tr th:each="cheese: ${cheeses}">
            <td><input type="checkbox" name="cheeseIds" th:value="${cheese.id}" /></td>
            <td th:text="${cheese.name}"></td>
            <td th:text="${cheese.description}"></td>
            <td th:text="${cheese.category.name}"></td>
            <td><span th:class="'glyphicon rating rating-' + ${cheese.rating}"></span></td>
        </tr>
    </table>

    <input type="submit" value="Remove checked items" class="btn btn-primary" />
</form>

<div th:replace="fragments :: footer"></div>

</body>
</html>