<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head"></head>
<body class="container">

<nav th:replace="fragments :: navigation"></nav>

<h1 th:text="${'Edit User: &nbsp;' + user.username + ' -- ' + 'User Id ' + user.id}"></h1>

<form method="post" action="/user/edit" th:object="${user}" class="form" style="max-width: 600px" >
    <div class="form-group">
        <label th:for="name" >Name</label>
        <input class="form-control" th:field="*{username}"/>
        <span th:errors="*{username}" class="error"></span>
    </div>

    <div class="form-group">
        <label th:for="email">Description</label>
        <input class="form-control" th:field="*{email}"/>
        <span th:errors="*{email}" class="error"></span>
    </div>

    <div class="form-group">
        <label th:for="type">Core Competency</label>
        <select class="form-control" th:field="*{type}" style="max-width: 200px" >
            <option th:each="userType: ${userTypes}"
                    th:text="${userType.name}"
                    th:value="${userType}" ></option>
        </select>
    </div>

    <div class="form-group">
        <label th:for="password">Password</label>
        <input type="password" class="form-control" th:field="*{password}"
               placeholder="Your password must contain at least 4 characters" />
        <span th:errors="*{password}" class="error"></span>
    </div>

    <div class="form-group">
        <label th:for="verifyPassword">Confirm password</label>
        <input type="password" class="form-control" th:field="*{verifyPassword}"
               placeholder="This must match the password above ... exactly" />
        <span th:errors="*{verifyPassword}" class="error"></span>
    </div>

    <input type="hidden" name="userId" th:value="*{id}" />
    <input type="submit" value="Update User" class="btn btn-primary" />
</form>

<br />
<p>
    <a href="/user/">List All users</a>
</p>

<div th:replace="fragments :: footer"></div>

</body>
</html>