<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head"></head>
<body class="container">

<nav th:replace="fragments :: navigation"></nav>

<h1 th:text="${title}">Default Title</h1>

<nav>
    <a href="/user/">Return to User List</a>
    <span> | </span>
</nav>
<br />

<form method="post" class="form" style="max-width: 600px;">
    <div class="form-box">
        <div class="checkbox" th:each="user : ${users}">
            <label>
                <input type="checkbox" name="userIds" th:value="${user.id}" />
                <span th:text="${user.username}" />
            </label>
        </div>
    </div>

    <input type="submit" value="Remove checked items" class="btn btn-primary" />
</form>

<div th:replace="fragments :: footer"></div>

</body>
</html>