<!DOCTYPE html>
<html lang="en" xmlns:th="http://wwww/thymeleaf.org">
<head th:replace="fragments :: head"></head>
<body class="container">

<nav th:replace="fragments :: navigation"></nav>

<h1 th:text="${title}">Default Title</h1>

<form method="post" th:object="${category}" class="form" style="max-width: 600px">
    <div class="form-group">
        <label th:for="name">Name</label>
        <input th:field="*{name}" class="form-control" id="focus"/>
        <span th:errors="*{name}" class="error"></span>
    </div>
    <input type="submit" value="Add Category" class="btn btn-primary" />
</form>

<div th:replace="fragments :: footer"></div>

</body>
</html>
