<!DOCTYPE html>
<html lang="en" xmlns:th="http://www/thymeleaf.org">
<head th:fragment="head">
    <meta charset="UTF-8" />
    <meta http-equiv="content-type" content="text/html;charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="Description" content="My Cheese MVC exercise for LaunchCode" />
    <meta name="author" content="David Schmutz" />
    <link rel="icon" th:href="@{/images/favicon.ico}" />
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{/css/styles.css}" />

    <link rel="stylesheet" th:href="@{/css/jqx.arctic.css}" />
    <link rel="stylesheet" th:href="@{/css/jqx.base.css}" />

    <script type="text/javascript" th:src="@{/js/jquery-1.11.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/script.js}"></script>

    <script type="text/javascript" th:src="@{/js/jqxcore.js}"></script>
    <script type="text/javascript" th:src="@{/js/jqxrating.js}"></script>

    <script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
    <title th:text="'MyCheese' + ${title == null ? '' : ' :: ' + title}">My Cheeses</title>
</head>
<body>
    <div th:fragment="navigation" class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed"
                        data-toggle="collapse" data-target="#navbar"
                        aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a th:href="@{/cheese}" class="navbar-brand" title="Home">My Cheese</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a th:href="@{/category}" title="List all cheese categories">Categories</a></li>
                    <li><a th:href="@{/menu/}" title="List cheese sampler menus">Menus</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div th:fragment="admin-footer">
        <div class="container">
            <div class="text-muted pull-right">&copy; David Schmutz &nbsp;2020</div><br />
            <div class="text-muted pull-right">
                <a class="admin-button"
                   th:href="@{/user}"
                   style="text-decoration: none;">Quick Access -- User Controller</a></div>
        </div>
    </div>

    <div th:fragment="footer">
        <div class="container">
            <div class="text-muted pull-right">&copy; David Schmutz &nbsp;2020</div><br />
        </div>
    </div>

</body>
</html>
